*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
   
    display:flex;
    background-color: #678a7e;
    text-align: center;
    align-items: center;
    height: 10vh;
}
header * a{
    text-decoration: none;
    color:white;
    font-size:18px;
    transition:all 0.5s;
}
.navItems * a:hover{
    color: #8bc34a;
}
header * li{
    margin-left:10px;
}

.logo{
    margin: 0 auto;
}
.navItems{
    margin-left:50px;
}
.navItems, .user-action > ul{
list-style: none;
display: flex;

}

.user-action {
margin-right:50px;
}

#hero-page{
    height: 80vh;
    width: 100%;
   
}

.hero-image{
    height:100%;
    width:100%; 
    background: gray;
    background-size:cover;
    background-repeat: no-repeat;
    animation: slide 20s ease-in-out infinite;
    position:relative;
}

@keyframes slide{
    0%{
    background-image: url(../images/servingtea-pexels-nikolay-osmachko-230477.jpg);
    }
    33%{
background-image: url(../images/looseleaf-pexels-lil-artsy-1793035.jpg);
    }
    66%{
    background-image: url(../images/leaveswithdue-pexels-sohail-nachiti-807598.jpg);
   
    }
    100%{
    background-image: url(../images/tea-pantation-pexels-quang-nguyen-vinh-6711556.jpg)
    }
}
.overlay{
    width:inherit;
    height:inherit;
    background-color:rgba(0,0,0,0.4);
    position:absolute;
}

.hero-text{
    position:relative;
    z-index:1;
   margin-left:5em;
}

.beautiful-text{
    color:white;
    font-size:10em;
}
.slogan{
    color:white;
    font-size: 2vw;
    text-align: center;
}
.shop-btn{
    background-color: #8bc34a;
   padding:20px;
   text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
  width:200px;
  border: none;
  border-radius: 50px;;
  transition: all 1s;
  color:white;
  
}
.shop-btn:hover{
opacity:1;
}
.shop-btn:hover::after{
    content: " »»"
}
 /*contents of info to be in a row
 text to be in the center
 center div to be square and the left and right border to disappear
 I want the borders of th div on the sides of center div to have arc on the outer borders*/
.info{
    display: flex;
    justify-content: center;
    margin:10px auto;
    width:80vw;
  
}
.info-text{
    border: none;
    height: 15vh;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;;
    position:relative;
    top: -70px;
}
.info-text > .fa{
    
    color: forestgreen;
    font-size: 40px;
    margin-right:10px;
}

.info-text > a{
    text-decoration: none;
    margin-left:5px;
    display: inline-block;
    color:forestgreen;
    font-weight:bolder;
}
.delivery{
    border-radius:  60px 0px 0px 60px;
    background-color:#D1B48C;
}
.customer-service{
    border-left: 0px solid ;
    border-right: 0px solid ;
    background-color:#2F4F4E;
}
.donate{
    background-color:;
    border-radius:  0px 60px 60px 0px;
    background-color:  #5E9EA0;
}
@media screen and (min-width: 600px){
    .icon{
        display:none
    }
    }
